.container {
  display: flex;
  height: 100vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Modern sans-serif font */
}

.sidebar {
  width: 240px;
  background: #043930; /* Dark Blue: Dominant logo color for the sidebar */
  color: #0262fe; /* White text for contrast and readability */
  overflow-y: auto;
  flex-shrink: 0;
  /*background: linear-gradient(145deg, #002f6c, #0057b8); !* Darker gradient for contrast *!*/
}

.contact {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.contact:hover, .contact.active {
  background-color: #074e41; /* Bright Blue: For hover and active states */
}

.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex-grow: 1;
  padding: 20px;
  background: #023f33; /* Dark Blue: For message background */
  color: #0262fe; /* White for text */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /*background: linear-gradient(145deg, #002f6c, #0057b8); !* Darker gradient for contrast *!*/
}

.messageInput {
  display: flex;
  padding: 10px;
  background: #044035; /* Bright Blue: For input background */
}

.messageInput input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
  color: #fad24d; /* White text for contrast */
  font-size: 16px;
}

.messageInput button {
  padding: 10px 20px;
  background: #06483c; /* Orange: For button background */
  color: #fecb7e; /* White text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.messages::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

/* Style the handle (the part that can be dragged) */
.messages::-webkit-scrollbar-thumb {
  background-color: rgb(3, 50, 43); /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 1px solid rgb(3, 50, 43); /* creates padding around the scroll thumb */
}

/* Style the scrollbar track (progress track) */
.messages::-webkit-scrollbar-track {
  background: #044035; /* color of the track */
}

.message {
  padding: 10px;
  margin-bottom: 10px; /* Space between messages */
  border-radius: 4px;
  max-width: 40%; /* Maximum width of the message bubble */
  /*word-wrap: break-word; !* To prevent overflow if a long word is sent *!*/
  /*overflow-wrap: break-word*/
}

.sentMessage {
  align-self: flex-end;
  background: #a3d39c; /* Orange: For sent messages */
  color: #023f33;
}

.receivedMessage {
  align-self: flex-start;
  background: #fecb95; /* Yellow: For received messages */
  color: #4d4b24;
}


/* Add any additional styles for responsiveness, colors, etc. as needed */
/* ... (existing styles) ... */

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.contactDetails {
  display: flex;
  flex-direction: row; /* Set to row to align children horizontally */
  align-items: center;
}

.contactName {
  font-weight: bold;
  color: #fecb95;
}

.activeContact {
  background-color: #06483c; /* Bright Blue: For hover and active states */
}

.chatHeader {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #04473a;
  color: #0f2682;
}

.activeContactHeader {
  display: flex;
  align-items: center;
}

.messageContent {
  /* Styles for the message text */
}

.messageStatus{
  font-size: 9px;
  opacity: 50%;
  /*margin-bottom: -13px;*/
  /*padding-bottom: 5px;*/
}

.messageTimestamp {
  font-size: 0.75rem;
  color: #999999;
  text-align: right;
  padding-top: 5px;
}

.sentMessage {
  /* Align to the right for sent messages */
  justify-content: flex-end;
}

.receivedMessage {
  /* Align to the left for received messages */
  /*text-align: left;*/
}

.messageInput input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1.7px solid #05584a; /* If you want a border */
  background-color: #023f33; /* Dark Blue: For input background */
  color: #fad24d; /* Gold/Yellow color for text */
  outline: none; /* Removes the default focus outline */
}

/* Style the placeholder text */
.messageInput input::placeholder {
  color: #7a7a7a; /* Lighter shade for placeholder text */
}

/* Remove input background and text color on hover for better visibility */
.messageInput input:hover {
  background-color: #024e41; /* Slightly lighter background on hover */
  color: #fad24d; /* Change text color on hover if needed */
}

/* Remove input background and text color on focus for better visibility */
.messageInput input:focus {
  background-color: #a4d39d; /* Brighter background on focus for emphasis */
  color: #044035; /* Change text color on focus if needed */
}

/* You might want to add media queries for responsiveness */

/* ... (additional styles as needed) ... */
